{% extends "index.html" %}
{% block content %}

       <!-- Previous bookings -->
        <section id="bookings">
            <h1>PREVIOUS BOOKINGS</h1>
            
                <div class="row">
                    {% for data in data_list["booking_past"] %}
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header"><h1>{{data.issue}}</h1></div>
                                <div class="card-body">
                                    <div class=" card-title">{{data.doctor}}</div>
                                    <div class="card-text">{{data.date}}</div>
                                </div>
                            </div>
                         
                        </div> 
                    {% endfor %}            
            </div>
        </section>
        <hr>
        <!-- Up comming Bookings -->
        <section id="bookings">
        <h1>Up Comming BOOKINGS</h1>
            <div class="row bookingcard mt-8">
                {% for data in data_list["bookings"] %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header"><h1>{{data.issue}}</h1></div>
                            <div class="card-body">
                                <div class=" card-title">{{data.doctor}}</div>
                                <div class="card-text">{{data.date}}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                
            </div>
            <br>
            <br>
            <a href="/newbookingsform" class="btn btn-lg btn-block" style="background-color:#2FA4FF; color: white;"> Add new Bookings</a>
    </section>
{% endblock %}