{% extends "index.html" %}
{% block content %}

       <!-- Previous bookings -->
        <section id="bookings">
            <h1>PREVIOUS BOOKINGS</h1>
                <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header"><h1>issue</h1></div>
                            <div class="card-body">
                                <div class=" card-title">Doctor Name</div>
                                <div class="card-text">date</div>
                            </div>
                        </div>
                        </div>
                            
        
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header"><h1>Issue</h1></div>
                            <div class="card-body">
                                <div class=" card-title">Doctors Name</div>
                                <div class="card-text">date</div>
                            </div>
                        </div>
                        </div>
                            

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header"><h1>Issue </h1></div>
                            <div class="card-body">
                                <div class=" card-title">Doctors Name</div>
                                <div class="card-text">Date</div>
                            </div>
                        </div>
                            </div>
                            
            
            </div>
        </section>
        <hr>
        <!-- Up comming Bookings -->
        <section id="bookings">
        <h1>Up Comming BOOKINGS</h1>
            <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header"><h1>issue</h1></div>
                        <div class="card-body">
                            <div class=" card-title">Doctor Name</div>
                            <div class="card-text">date</div>
                        </div>
                    </div>
                    </div>
                        
    
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header"><h1>Issue</h1></div>
                        <div class="card-body">
                            <div class=" card-title">Doctors Name</div>
                            <div class="card-text">date</div>
                        </div>
                    </div>
                    </div>
                        

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header"><h1>Issue </h1></div>
                        <div class="card-body">
                            <div class=" card-title">Doctors Name</div>
                            <div class="card-text">Date</div>
                        </div>
                    </div>
                        </div>
                        
        
        </div>
    </section>
{% endblock %}